/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: relative;
    overflow-x: hidden;
    font-size: 10px;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 3.3rem;
    font-weight: 400;
    color: #1D2A80;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: #1D2A80;
    transition: all .3s;
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
    transition: all .3s;
    color: #1D2A80;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2;
    height: 3.6rem;
    border-radius: 3rem;
    background-color: #DCF6FF;
}
.btn:hover {
    background-color: #2DB9EB;
}
ul, ol, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: #1D2A80;
    font-weight: 700;
}
h1 {
    font-size: 6rem;
    line-height: 7rem;
}
h2 {
    font-size: 4rem;
    line-height: 4.9rem;
}
h3 {
    font-size: 3rem;
    line-height: 4rem;
}
h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}
h5 {
    font-size: 2rem;
    line-height: 3rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.icon {
    display: flex;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.btn-common {
	box-shadow: 0px 2px 8px rgba(22, 42, 115, 0.2);
	padding: 1rem 2rem;
	min-width: 15.2rem;
	min-height: 4.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: .5rem;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1;
	cursor: pointer;
}
.btn-primary {
	background-color: transparent;
	color: #9344E8;
	border: .1rem solid #9344E8;
	transition: all 0.3s ease;
}
.main-nav ul li a {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	color: #162A73;
	display: flex;
	align-items: center;
	column-gap: 7px;
}
.main-nav ul li a.btn-primary {
	color: #9344E8;
}
.btn-secondary {
	background: #162A73;
	color: #fff;
	transition: all 0.3s ease;
}
.main-nav ul li a.btn-secondary {
	color: #fff;
}




.header-bottom-content {
	display: flex;
	align-items: center;
}
.header-bottom-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-list {
	display: flex;
	align-items: center;
	column-gap: 31px;
}
.login-btn {
	display: flex;
	align-items: center;
	gap: 2px;
}
.header-bottom {
	padding: 33px 0;
	position: relative;
}


.sqdk-contact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F7FAFF;;
    padding: 4rem 5rem;
    border-radius: 1rem;
}

.sqdk-contact-content-left {
    width: 50%;
    padding-right: 8rem;
}

.sqdk-contact-text h2 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
    color: #162A73;
    margin: 0 0 2rem;
}

.sqdk-contact-text p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #162A73;
    margin-top: 2.5rem;
}

.sqdk-contact-text p a {
    color: #162A73;
    font-weight: 600;
    text-decoration: underline;
}
.sqdk-contact-content-right {
    width: 50%;
}

.sqdk-form-group {
    margin-bottom: 2rem;
    position: relative;
}

.sqdk-form-group label,
.sqdk-templates-area label,
.sqdk-info label {
    display: inline-flex;
    gap: .7rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 0.203164px;
    color: #162A73;
    margin-bottom: .5rem;
}

.sd-tooltip {
    width: 50%;
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 1rem;
    background-color: #162A73;
    color: #fff;
    border-radius: .5rem;
    position: absolute;
    top: -5.5rem;
    left: 0;
    display: inline-flex;
    z-index: 9;
    opacity: 0;
    transition: all 0.3s;
}

.sqdk-form-group label svg{
    cursor: pointer;
}

.sqdk-form-group label:hover .sd-tooltip{
    opacity: 1;
    transition: all 0.3s;
}

.sqdk-form-group input,
.sqdk-form-group select{
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: .2rem;
    background-color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #162A73;
}

input::placeholder,
textarea::placeholder{
    color: #162A73;
}


.sqdk-form-group textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border: none;
    border-radius: .2rem;
    background-color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #162A73;
    resize: vertical;
}

.form-btn{
    display: flex;
    justify-content: center;
}

.contact-form-btn {
    display: inline-block;
    background: #9344E8;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    transition: ease all 0.5s;
    padding: 1rem 3rem;
    border-radius: .1rem;
}

.contact-form-btn:hover{
    background-color: #162A73;
}
.sqdk-contact {
    margin-top: 52px;
}
@media(max-width: 991px){
    .sqdk-contact-content{
        padding: 2rem;
    }
    .sqdk-contact-content-left{
        width: 100%;
        padding-right: 0;
    }

    .sqdk-contact-content-right{
        width: 100%;
        margin-top: 3rem;
    }
}