.sqdk-templates {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.sqdk-single-template {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sqdk-single-template [type="radio"]:checked + img {
  outline: 4px solid #9344e8;
}
.sqdk-single-template [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.float-right {
  float: right;
}

/* Shepherd Tour by Tuhin */
.shepherd-has-title .shepherd-content .shepherd-header {
  background: var(--vz-vertical-menu-bg-dark);
  padding: 10px;
}

.shepherd-title {
  color: #fff;
}

.shepherd-button {
  background-color: var(--vz-btn-bg);
}

.shepherd-button.btn-success:not(:disabled):hover {
  background-color: var(--vz-vertical-menu-bg-dark);
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  color: #fff;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
  color: #fff;
}

.shepherd-arrow:before {
  background-color: #162a73 !important;
}

.navbar-brand-box {
  padding: 0;
}

[data-layout="vertical"][data-sidebar="dark"] .logo-light {
  display: block;
}

.logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.shepherd-footer {
  display: flex;
  justify-content: space-between;
}
.btn.btn-light.shepherd-button {
  background-color: var(--vz-vertical-menu-bg-dark);
}
.btn.shepherd-button {
  color: #fff;
}
.btn.btn-light.shepherd-button:hover {
  color: #fff;
  background-color: #9344e8;
}
.shepherd-text {
  min-height: 74px;
  font-size: 14px;
  line-height: 20px;
}

/*website-builder*/
.website-builder-page-content {
  padding-bottom: 39px;
}
.bsw-widgets {
  display: flex;
  flex-wrap: wrap;
}
.bsw-single:nth-child(3n) {
  margin-right: 0;
}
.bsw-single {
  width: calc(33.333% - 5px);
  height: 93px;
  background-color: #f3f3f9;
  margin-right: 7px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: all-scroll;
  transition: all 0.1s linear;
  border: 1px solid transparent;
}
.bsw-single:hover {
  border: 1px dotted #947676;
}
.bsw-icon {
  font-size: 24px;
  color: #495057;
}
.bsw-text {
  font-size: 13px;
  color: #495057;
}
.builder-sidebar-section:not(:first-child) {
  margin-top: 23px;
}
.file-manager-sidebar {
  z-index: 9;
}
.layout-wrapper.landing {
  position: relative;
}
.bsw-title {
  border-bottom: 1px solid #f3f3f9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.text-stars {
  --vz-text-opacity: 1;
  color: rgb(99, 18, 23) !important;
}
.builder-sidebar-buttons {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.builder-sidebar-widget-area {
  height: calc(100% - 50px);
}
.btn-danger {
  --vz-btn-color: #fff;
  --vz-btn-bg: rgb(99, 18, 23);
  --vz-btn-border-color: rgb(99, 18, 23);
  --vz-btn-hover-color: #fff;
  --vz-btn-hover-bg: rgb(99, 18, 23);
  --vz-btn-hover-border-color: rgb(99, 18, 23);
  --vz-btn-focus-shadow-rgb: 242, 124, 99;
  --vz-btn-active-color: #fff;
  --vz-btn-active-bg: rgb(99, 18, 23);
  --vz-btn-active-border-color: rgb(99, 18, 23);
  --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --vz-btn-disabled-color: #fff;
  --vz-btn-disabled-bg: rgb(99, 18, 23);
  --vz-btn-disabled-border-color: rgb(99, 18, 23);
}
.btn-ps {
  --vz-btn-color: #fff;
  --vz-btn-bg: rgb(99, 18, 23);
  --vz-btn-border-color: rgb(99, 18, 23);
  --vz-btn-hover-color: #fff;
  --vz-btn-hover-bg: rgb(99, 18, 23);
  --vz-btn-hover-border-color: rgb(99, 18, 23);
  --vz-btn-focus-shadow-rgb: rgb(99, 18, 23);
  --vz-btn-active-color: #fff;
  --vz-btn-active-bg: rgb(99, 18, 23);
  --vz-btn-active-border-color: rgb(99, 18, 23);
  --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --vz-btn-disabled-color: #fff;
  --vz-btn-disabled-bg: rgb(99, 18, 23);
  --vz-btn-disabled-border-color: rgb(99, 18, 23);
}

/*Team Management*/
.team-management-single {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  cursor: all-scroll;
  border-radius: 3px;
}
.team-management-row {
  display: flex;
}
.team-management-col {
  width: 33.333%;
  max-width: 300px;
  border-left: 1px solid var(--vz-border-color);
}
.tms-content {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
}
.tms-drag {
  height: 100%;
  font-size: 30px;
  width: 30px;
  flex-shrink: 0;
}
.team-management-items {
  max-height: 550px;
  padding: 0 20px;
}
.team-management-title {
  padding: 0 20px;
  font-size: 16px;
}
.team-management-col:last-child {
  border-radius: 2px;
  border-right: 1px solid var(--vz-border-color);
}
.team-management-single .card-title {
  font-size: 14px;
  margin-bottom: 3px;
}

/*form builder*/
.form-builder-area {
  display: flex;
  height: 550px;
}
.form-builder-sidebar {
  width: 330px;
  padding: 15px;
  border-right: 5px solid #f3f3f9;
  padding-right: 0;
}
.form-builder-sidebar .builder-sidebar-widget-area {
  padding-right: 15px;
}
.form-builder-content {
  width: calc(100% - 330px);
  padding: 35px;
}
